<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">


    <title>Create an Account</title>
</head>
<body data-bs-theme="dark">
    <div class="main-wrapper">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">AllAccess</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Add a Ride!</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More...
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">My Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Ikon</a></li>
                        <li><a class="dropdown-item" href="#">Epic</a></li>
                        <li><a class="dropdown-item" href="#">All Mountains</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!-- Only show if they are logged in -->
                        <li><a class="dropdown-item" href="#">Log Out</a></li>
                    </ul>
                    </li>
                </ul>
                <form action= "/display/mountain/by_search" method = 'post' class="d-flex">
                    <input class="form-control me-2" placeholder="Search Mountain" aria-label="Search" id="txt-black" name = "mountain_name">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
                </div>
            </div>
        </nav>
        <div class="text-centered">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p class=flashes style="color: red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>    
        <div class="form-box">
            <form action="/user/create" method="post">
                <!-- Email input -->
                <h2>Create an Account!</h2>
                <br>
                <div class="form-outline mb-4">
                    <input type="text" name="first_name" class="form-control" id="txt-black" placeholder="First Name"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="last_name" class="form-control" id="txt-black" placeholder="Last Name"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="email" class="form-control" id="txt-black" placeholder="Email"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="password" class="form-control" id="txt-black" placeholder="Password"/>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="confirm_password" class="form-control" id="txt-black" placeholder="Confirm Password"/>
                </div>
                <!-- Submit button -->
                <button class="btn btn-primary btn-block mb-4">Create Account</button>
            </div>
        </div>
    </div>
    
</body>
</html>