<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Ikon Mountains</title>
</head>
<body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">AllAccess</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/display/create/ride/form">Add a Ride!</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    More...
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/user_dashboard">My Dashboard</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <!-- Only show if they are logged in -->
                    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
                </ul>
                </li>
            </ul>
            <form action= "/display/mountain/by_search" method = 'post' class="d-flex">
                <input class="form-control me-2" placeholder="Search Mountain" aria-label="Search" id="txt-black" name = "mountain_name">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
        </div>
    </nav>  
    

    <div class="ikon-container">
        <hr>
        <div class="ikon-left-side">
            <h2 class="w3-center">IKON MOUNTAINS</h2>
            <div class="w3-border">
                <div class="w3-bar w3-theme position">
                    <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'usa')">USA</button>
                    <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'canada')">CANADA</button>
                    <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'south_america')">SOUTH AMERICA</button>
                    <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'europe')">EUROPE</button>
                    <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'oceania')">OCEANIA</button>
                    <button class="w3-bar-item w3-button testbtn w3-padding-16" onclick="openCity(event,'asia')">ASIA</button>
                </div>

                <div id="usa" class="w3-container city w3-animate-opacity">
                    <h2>USA</h2>
                    <div>
                        <h4>WEST</h4>
                        <ul>
                            <a href="/palisades/display/mountain"><li>PALISADES TAHOE</li></a>
                            <a href="/mammoth/display/mountain"><li>MAMMOTH MOUNTAIN</li></a>
                            <a href=""><li>SNOW SUMMIT</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>PACIFIC NW</h4>
                        <ul>
                            <a href=""><li>DOLLAR MOUNTAIN</li></a>
                            <a href="/sun_valley/display/mountain"><li>SUN VALLEY</li></a>
                            <a href="/schweitzer/display/mountain"><li>SCHWEITZER</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>ROCKIES</h4>
                        <ul>
                            <a href="/aspen_snowmass/display/mountain"><li>ASPEN SNOWMASS</li></a>
                            <a href="/brighton/display/mountain"><li>BRIGHTON</li></a>
                            <a href="/jackson_hole/display/mountain"><li>JACKSON HOLE MOUNTAIN RESORT</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>MID WEST</h4>
                        <ul>
                            <a href="/the_highlands/display/mountain"><li>THE HIGHLANDS</li></a>
                            <a href="/boyne_mountain/display/mountain"><li>BOYNE MOUNTAIN</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>EAST</h4>
                        <ul>
                            <a href="/stratton/display/mountain"><li>STRATTON</li></a>
                            <a href=""><li>SUGARLOAF</li></a>
                            <a href="/killington/display/mountain"><li>KILLINGTON</li></a>
                        </ul>
                    </div>
                </div>

                <div id="canada" class="w3-container city w3-animate-opacity">
                <h2>CANADA</h2>
                <div>
                    <h4>WEST</h4>
                    <ul>
                        <a href="/panorama/display/mountain"><li>PANORAMA</li></a>
                        <a href=""><li>MOUNT NORQUAY</li></a>
                        <a href=""><li>BANFF SUNSHINE</li></a>
                    </ul>
                </div>
                <div>
                    <h4>EAST</h4>
                    <ul>
                        <a href="/tremblant/display/mountain"><li>TREMBLANT</li></a>
                        <a href=""><li>BLUE MOUNTAIN</li></a>
                    </ul>
                </div>
                </div>

                <div id="south_america" class="w3-container city w3-animate-opacity">
                <h2>SOUTH AMERICA</h2>
                <div>
                    <h4>CHILE</h4>
                    <ul>
                        <a href="/valle_nevado/display/mountain"><li>VALLE NEVADO</li></a>
                    </ul>
                </div>

                </div>

                <div id="europe" class="w3-container city w3-animate-opacity">
                    <h2>EUROPE</h2>
                    <div>
                        <h4>FRANCE</h4>
                        <ul>
                            <a href="/chamonix_mont_blanc/display/mountain"><li>CHAMONIX MONT-BLANC</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>ITALY</h4>
                        <ul>
                            <a href="#"><li>DOLOMITI SUPERSKI</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>SWITZERLAND</h4>
                        <ul>
                            <a href="/zermatt_matterhorn/display/mountain"><li>ZERMATT MATTERHORN</li></a>
                        </ul>
                    </div>
                </div>

                <div id="oceania" class="w3-container city w3-animate-opacity">
                    <h2>OCEANIA</h2>
                    <div>
                        <h4>AUSTRALIA</h4>
                        <ul>
                            <a href=""><li>THREDBO</li></a>
                            <a href=""><li>MT BULLER</li></a>
                        </ul>
                    </div>
                    <div>
                        <h4>NEW ZEALAND</h4>
                        <ul>
                            <a href=""><li>CORONET PEAK</li></a>
                            <a href=""><li>MT HUTT</li></a>
                        </ul>
                    </div>
                </div>

                <div id="asia" class="w3-container city w3-animate-opacity">
                    <h2>ASIA</h2>
                    <div>
                        <h4>JAPAN</h4>
                        <ul>
                            <a href="#"><li>NISEKO UNITED</li></a>
                            <a href="#"><li>LOTTE ARAI RESORT</li></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
        <div class="ikon-right-side">
            <img src="{{url_for('static', filename ='/images/ikonBg.jpeg')}}" alt="mountain background" width="100%">
        </div>
    </div>


        <script>

            function openCity(evt, cityName) {
            var i;
            var x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
            }
            var activebtn = document.getElementsByClassName("testbtn");
            for (i = 0; i < x.length; i++) {
            activebtn[i].className = activebtn[i].className.replace(" w3-dark-grey", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " w3-dark-grey";
            }

            var mybtn = document.getElementsByClassName("testbtn")[0];
            mybtn.click();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>